<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="navbar :: layout(~{::section})">

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<title>My Orders</title>
</head>

<body>
	<section>
		<div class="container my-5" style="min-height: 100vh;">
			<div th:if="${succMsg}" class="alert alert-success alert-dismissible fade show" role="alert">
				<span th:text="${succMsg}"></span>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			<div th:if="${errorMsg}" class="alert alert-danger alert-dismissible fade show" role="alert">
				<span th:text="${errorMsg}"></span>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			<h2 class="mb-4 text-center">My Orders</h2>
			<table class="table table-bordered table-striped">
				<thead class="table-dark">
					<tr>
						<th>Order ID</th>
						<th>Date</th>
						<th>Product</th>
						<th>Price</th>
						<th>Status</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="order, stat : ${orders}">
						<td th:text="${order.orderId}"></td>
						<td th:text="${#dates.format(order.orderDate, 'dd-MM-yyyy')}"></td>
						<td th:text="${order.products.title}"></td>
						<td>
							<span>Quantity: </span><span th:text="${order.quantity}"></span><br />
							<span>Price: ₹</span><span th:text="${order.price}"></span><br />
							<span>Total: ₹<span th:text="${order.totalAmount}"></span></span>
						</td>
						<td>
							<span th:switch="${order.status}">
								<span th:case="'Delivered'" class="badge bg-success" th:text="${order.status}"></span>
								<span th:case="'In Progress'" class="badge bg-warning" th:text="${order.status}"></span>
								<span th:case="'Cancelled'" class="badge bg-danger" th:text="${order.status}"></span>
								<span th:case="'Cancel'" class="badge bg-danger" th:text="${order.status}"></span>
								<span th:case="*" class="badge bg-info" th:text="${order.status}"></span>
							</span>
						</td>
						<td>
							<a th:href="@{'/user/cancelOrder/' + ${order.id}}" class="btn btn-danger btn-sm"
								th:disabled="${order.status == 'Cancelled' or order.status == 'Delivered'}">
								Cancel
							</a>
						</td>
					</tr>
					<tr th:if="${#lists.isEmpty(orders)}">
						<td colspan="7" class="text-center">No orders found</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</body>

</html>